{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    
    <h1>Contact us</h1>
    
    {{ form_start(feedback_form) }}
        {{ form_label(feedback_form.email) }}
        {{ form_widget(feedback_form.email) }}
        
        {{ form_label(feedback_form.message) }}
        {{ form_widget(feedback_form.message) }}
    {{ form_end(feedback_form) }}

{% endblock %}
